@page "/counter"

<h1>Game of Live</h1>

<p>Current count: @currentCount</p>
<hr>
@{
    if(currentCount==0){
        e.live(3,3);
         e.live(3,4);
         e.live(3,5);
         e.live(2,5);
         e.live(1,4);
    }
   
}
<table class="environment">
@for(var i=0; i<@e.total_of_rows(); i++){
    <tr>
    @for(var j=0; j<@e.total_of_cols(); j++){
        @if(e.is_alive(i,j)){
        <td class="cell alive"></td>
        }
        else{
        <td class="cell dead"></td>
        }
    }
    </tr>
}
</table>
<hr>
<button class = "btn btn-primary" @onclick="IncrementCount">Next</button>

@code {
    private int currentCount = 0;
    private Data.Environment e = new Data.Environment(15,15);

    private void IncrementCount()
    {
        currentCount++;
        e.nextConwayStep();
    }
}
