@page "/counter"

<h1>Game of Live</h1>

<hr>

@* table *@
<table class="environment">
    @for(var i=0; i<@e.total_of_rows(); i++)
    {
         <tr>
             @for(var j=0; j<@e.total_of_cols(); j++){
            @if(e.biounit(i,j)!=null)
             { 
            <td class="cell" style = "background-color:@e.biounit(i,j).myColor()"></td> 
            } 
            else 
             { 
           <td class="cell dead"></td> 
           } 
         }
            </tr>
    }
</table>

@* radio button *@
<p>
    <input type="radio" name="myradiobtn" checked="@(theRadio.Equals("step"))" value="step" @onchange="ClickRadio"/>
    Step by step
    <input type="radio" name="myradiobtn" checked="@(theRadio.Equals("many"))" value="many" @onchange="ClickRadio"/>
    Several steps
</p>

@* hidden option from the radio click *@
<div style="display:@(theRadio.Equals("many")?"":"none")">
<h5>Cycle Specification</h5>
Number of cycles;

<select @bind = "option">
<option value= "1">1st</option>
<option value = "2">2nd</option>
<option value = "3">3rd</option>
<option value = "4">4th</option>
<option value = "5">5th</option>
</select>
<br>
Add option @option
</div>

@* next button *@
        <button class = "btn btn-primary" @onclick="IncrementCount">Next</button>

<a  
    class="btn btn-primary"
     href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">
    Look for Patterns in Wikipedia
</a>

        <button class = "btn btn-primary" @onclick="AddPatternRow">@addPatternText</button> 

<div class="my-3" style = "display:@(addPatternHidden == true ? "none" : "block")" >
            <label> row <input class="form-control" type="number" @bind="row"> </label>
            <label> col <input class="form-control" type="number" @bind="col"> </label>
            <label>Pattern 
                <select class="form-control" @bind = "patternType">
                    <option value="pentadecathlon">Pentadecathlon</option>
                    <option value="toad">Toad</option>
                    <option value="ship">Ship</option>
                </select>
            </label>
        <button class = "btn btn-primary" @onclick = "AddPattern"> Add @patternType Pattern</button>
</div>

<hr>


@code{
    //Defining a valuable for Pattern button
    private bool addPatternHidden = true;
    
    private string patternType = "";

    // private string toadType = "toad"; 
    private string addPatternText ="Add Pattern...";
    private int col { get; set; }=0;
    
    private  int row { get; set; } =0;
   
    private String theRadio="";

    private int currentCount = 0;

    private Data.Environment e = new Data.Environment(30,30);
       
    private string option = "";

    private void IncrementCount()
    {
        currentCount++; 
        e.nextConwayStep();
    }

    private void ClickRadio(ChangeEventArgs args){
        theRadio = args.Value.ToString();
        currentCount++;
    }

    private void AddPattern(){

        @* if(patternType == "pentadecathlon"){
        e.put_pattern(row, col, "pentadecathlon");
        row = col = 0;
        }
        else if(patternType =="toad"){
        e.put_pattern(row, col, "toad");
        row = col = 0;
        } *@
        e.put_pattern(row, col, patternType);
        row = col = 0;
        
    }
    private void AddPatternRow(){
        addPatternText = "Add Pattern " + (addPatternHidden ? "(-)" : "...");
        addPatternHidden = !addPatternHidden;
    } 

}