@page "/counter"

<h1>Game of Live</h1>

<hr>

@* table *@
<table class="environment">
    @for(var i=0; i<@e.total_of_rows(); i++)
    {
         <tr>
             @for(var j=0; j<@e.total_of_cols(); j++){
            @if(e.biounit(i,j)!=null)
             { 
            <td class="cell" style = "background-color:@e.biounit(i,j).myColor()"></td> 
            } 
            else 
             { 
           <td class="cell dead"></td> 
           } 
         }
            </tr>
    }
</table>

@* radio button *@
<p>
    <input type="radio" name="myradiobtn" checked="@(theRadio.Equals("step"))" value="step" @onchange="ClickRadio"/>
    Step by step
    <input type="radio" name="myradiobtn" checked="@(theRadio.Equals("many"))" value="many" @onchange="ClickRadio"/>
    Several steps
</p>

@* hidden option from the radio click *@
<div style="display:@(theRadio.Equals("many")?"":"none")">
<h5>Cycle Specification</h5>
Number of cycles;

<select @bind = "option">
<option value= "1">1st</option>
<option value = "2">2nd</option>
<option value = "3">3rd</option>
<option value = "4">4th</option>
<option value = "5">5th</option>
</select>
<br>
Add option @option
</div>

@* increment button *@
<button class = "btn btn-primary" @onclick="IncrementCount">Next</button>


@* maximizing first button *@
<button class = "btn btn-primary" @onclick="AddPatternButton">@PatternMessage</button> 

<div class="my-3" style = "display:@(DisplayButton == true ? "none" : "block")" >
@* Displaying text after click *@

@* <input type="submit" value="@Message"> *@

<label> row <input class="form-control" type="number" @bind="row"> </label>
<label> col <input class="form-control" type="number" @bind="col"> </label>


<button class = "btn btn-primary" @onclick = "AddPattern"> Add @PatternName Pattern</button>
</div>

<hr>

<a  
    class="btn btn-primary"
    href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
    target="_blank">
    Look for Patterns in Wikipedia
</a>

@code{
    //Defining a valuable for Pattern button

    private string Message { get; set; } = "";
    private bool DisplayButton = true;
    
    private string PatternName = "pentadecathlon";
    private string PatternMessage ="Add Pattern...";
    private int col { get; set; }=0;
    
    private  int row { get; set; } =0;
   
    private String theRadio="";

    private int currentCount = 0;

    private Data.Environment e = new Data.Environment(30,30);
       
    private string option = "";

    private void IncrementCount()
    {
        currentCount++; 
        e.nextConwayStep();
    }

    private void ClickRadio(ChangeEventArgs args){
        theRadio = args.Value.ToString();
        currentCount++;
    }

    private void AddPattern(){
        e.put_pattern(row, col, PatternName);
        row = col = 0;
    }
    private void AddPatternButton(){
        PatternMessage = "Add Pattern " + (DisplayButton ? "(-)" : "...");
        DisplayButton = !DisplayButton;
    } 

}