@page "/counter"

<h1>Game of Live</h1>

<hr>
@{
    //only the first time (initial pattern )
    if(currentCount==0){
        e.put_pattern(6,6,"pentadecathlon");
        e.put_pattern(15,15,"pentadecathlon");
    }
}

<table class="environment">
    @for(var i=0; i<@e.total_of_rows(); i++)
    {
         <tr>
             @for(var j=0; j<@e.total_of_cols(); j++){
            @if(e.biounit(i,j)!=null)
             { 
            <td class="cell" style = "background-color:@e.biounit(i,j).myColor()"></td> 
            } 
            else 
             { 
           <td class="cell dead"></td> 
           } 
         }
            </tr>
    }
</table>

<p>
    <input type="radio" name="myradiobtn" checked="@(theRadio.Equals("step"))" value="step" @onchange="ClickRadio"/>
    Step by step
    <input type="radio" name="myradiobtn" checked="@(theRadio.Equals("many"))" value="many" @onchange="ClickRadio"/>
    Several steps
</p>

<div style="display:@(theRadio.Equals("many")?"":"none")">
<h5>Cycle Specification</h5>
Number of cycles;

<select @bind = "option">
<option value= "1">1st</option>
<option value = "2">2nd</option>
<option value = "3">3rd</option>
<option value = "4">4th</option>
<option value = "5">5th</option>
</select>
<br>
Add option @option;
</div>

<hr>
<button class = "btn btn-primary" @onclick="IncrementCount">Next</button>

@* Adding first button *@
<button style = "display:@(Message.Equals("Add the pattern pentadecathlon")?"none":"")" 
class = "btn btn-primary" @onclick=@(() => Message = "Add the pattern pentadecathlon")>Add Pattern...</button> 

@* Adding second button *@
<button style="display:@(Message.Equals("Add the pattern pentadecathlon")?"":"none") ;" 
class = "btn btn-primary" @onclick=@(() => Message = "Add the pattern")>Add Pattern -</button> 

@* Displaying text after click *@
<input type="submit" value="@Message" 
style = "display:@(Message.Equals("Add the pattern pentadecathlon")?"":"none")">

<hr>

<a  
    class="btn btn-primary"
    href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life"
    target="_blank">
    Look for Patterns in Wikipedia
</a>

@code{
    //Defining a valuable for Pattern button
    private string Message { get; set; } = "";

    private String theRadio="";
    private int currentCount = 0;
      private Data.Environment e = new Data.Environment(30,30);
       
       private string option = "";

 private void IncrementCount()
    {
        currentCount++; 
        e.nextConwayStep();
    }

    private void ClickRadio(ChangeEventArgs args){
        theRadio = args.Value.ToString();
        currentCount++;
    }
}