@page "/"

<h1>Hello SGV world!</h1>

<svg width = "350" height = "100">
    <circle
        cx = "22" cy = "80" r = "18"
        stroke = "#409040" stroke-width = "1" fill = "#90DD90"/>
    <circle
        cx = "300" cy = "50" r = "12"
        stroke = "#409040" stroke-width = "1" fill="#90dd90"/>
    <text x="5" y="90"
        fill="#208020"
        transform="rotate(-5)">Welcome to WSB's Bio-inspired Simaulator</text>
</svg>